@import 'reset';
@import 'vars';

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 1370px;
    margin: 0 auto;
}

.header {
    padding: 16px 0px;
    border-bottom: 1px solid #d6d6d6;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__menu {
        margin-left: 170px;
    }

    &__links {
        display: flex;
        align-items: center;
    }

    &__link {
        margin: 0px 36px;
        line-height: 100%;
        
        a {
            color: $gray-900;
        }

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__buttons {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    &__sign-link {
        color: black;
        margin-right: 35px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__menu-button {
        display: none;
        background-color: transparent;
        margin-left: 35px;
    }
}

.logo {
    display: block;
    width: 80px;
}

.button {
    display: inline-block;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    background-color: $green-500;
    padding: 20px 50px;
    border-radius: 4px;

    &:hover {
        background-color: $green-700;
    }

    &_small {
        padding: 13px 50px;
    }
}

.hero {
    background: url(../images/hero-bg.jpg) no-repeat;
    background-size: cover;

    &__container {
        display: flex;
        align-items: center;
        height: calc(100vh - 84px);
    }

    &__wrapper {
        width: 440px;
    }

    &__title {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 65px;
        line-height: 114%;
        color: $green-500;
        margin-bottom: 30px;
    }

    &__subtitle {
        color: $gray-400;
        margin-bottom: 50px;
    }
}

.steps {
    padding: 150px 0px;

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__subtitle {
        font-size: 25px;
        line-height: 157%;
        color: $gray-500;
        width: 100%;
    }

    &__title {
        font-family: 'Playfair Display', serif;
        width: 585px;
        font-weight: 700;
        font-size: 50px;
        line-height: 157%;
        color: $green-500;
    }

    &__text {
        width: 670px;
        color: $gray-500;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
    }
}

.card {
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: start;

    &__title {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 150%;
        text-align: center;
        margin-bottom: 55px;
        padding: 145px 0px 0px 90px;
        position: relative;
        width: auto;

        &:before {
            content: '01';
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 400;
            font-size: 150px;
            line-height: 150%;
            text-align: center;
            color: $green-500;
            opacity: 0.2;
        }
    }

    &:nth-child(2) {

       .card__title {

            &:before {
                content: '02';
            }
       }
    }

    &:nth-child(3) {

       .card__title {

            &:before {
                content: '03';
            }
       }
    }

    &__subtitle {
        color: $gray-500;
        flex: 1 1 100%;
        margin-bottom: 50px;
    }

    &__image {
        border-radius: 12px;
        width: 100%;
        object-fit: cover;
    }
}

.review {
    background-color: $green-900;
    padding: 150px 0px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        width: 600px;
    }

    &__title {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 157%;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 25px;
        line-height: 157%;
        color: #FFFFFF;
        margin-bottom: 50px;
    }

    &__video {
        display: block;
        border-radius: 16.33px;
        overflow: hidden;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 73px;
            height: 73px;
            background-image: url(../images/play-button.svg);
            background-size: contain;
        }

        &:hover {

            &:after {
                opacity: 0.65;
            }
        }
    }

    &__image {
        width: 800px;
    }
}

.product {
    padding: 150px 0px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__image {
        width: 640px;
        border-radius: 18px;
        margin: 0px 0px 75px 60px;
        object-fit: cover;
    }

    &__info {
        width: 585px;
    }

    &__subtitle {
        font-size: 25px;
        line-height: 157%;
        color: $gray-500;
        margin-bottom: 10px;
    }

    &__title {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 157%;
        color: $green-500;
        margin-bottom: 30px;
    }

    &__text {
        color: $gray-400;
        margin-bottom: 50px;
    }
}

.profile {
    padding: 23px 60px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));

    &__title {
        font-size: 14.5px;
        line-height: 157%;
        text-align: center;
        margin-bottom: 21px;
        position: relative;

        &::after {
            content: '';
            height: 1px;
            width: 110px;
            background-color: #000;
            position: absolute;
            bottom: -7px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__image {
        width: 57px;
        height: 57px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    &__name {
        margin-bottom: 20px;
    }

    &__list-title {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 157%;
        margin-bottom: 16px;
    }

    &__list-item {
        font-size: 11px;
        line-height: 157%;
        margin-bottom: 16px;
        list-style-type: disc;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.footer {
    padding: 130px 0px;
    background-color: $green-900;

    &__logo {
        margin-bottom: 55px;
        width: 108px;
    }

    &__link {
        font-size: 25px;
        line-height: 120%;
        margin-bottom: 55px;

        a {
            color: #fff;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 1440px) {
    
    .container {
        width: 1170px;
    }

    .header {

        &__wrapper {
            justify-content: space-between;
        }

        &__menu {
            margin: 0;
        }

        &__buttons {
            margin: 0;
        }
    }

    .steps {

        &__title {
            width: 48%;
        }

        &__text {
            width: 48%;
        }
    }

    .card {
        width: 31%;

        &__title {
            white-space: nowrap;
        }
    }

    .review {

        &__text {
            width: 48%;
        }

        &__video {
            width: 48%;
        }

        &__image {
            width: 100%;
        }
    }

    .product {

        &__image {
            width: 45%;
            margin: 0px 0px 75px 35px;
        }

        &__info {
            width: 48%;
        }
    }
}

@media (max-width: 1200px) {

    body {
        font-size: 18px;
    }

    .container {
        width: 900px;
    }

    .header {

        &__link {
            margin: 0px 20px;
        }
    }

    .hero {

        &__title {
            margin-bottom: 20px;
        }

        &__subtitle {
            margin-bottom: 40px;
        }
    }

    .button {
        padding: 15px 38px;
    }

    .steps {

        &__title {
            font-size: 42px;
        }
    }

    .card {

        &__title {
            padding: 145px 0px 0px 0px;
            margin-bottom: 40px;

            &:before {
                font-size: 120px;
            }
        }
    }

    .review {

        &__title {
            font-size: 42px;
            margin-bottom: 20px;
        }

        &__subtitle {
            font-size: 22px;
            margin-bottom: 40px;
        }
    }

    .product {

        &__title {
            font-size: 42px;
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 40px;
        }
    }

    .profile {
        padding: 23px 30px;
    }
}

@media (max-width: 991px) {

    .container {
        width: 700px;
    }

    .header {

        &__menu {
            display: none;
        }

        &__menu-button {
            display: block;
        }
    }

    .steps {
        padding: 120px 0px;

        &__header {
            align-items: flex-start;
            margin-bottom: 40px;
        }

        &__title {
            font-size: 32px;
        }
    }

    .card {

        &__title {
            font-size: 24px;
            padding-top: 120px;
            margin-bottom: 20px;
        }

        &__subtitle {
            margin-bottom: 40px;
        }
    }

    .review {
        padding: 120px 0px;

        &__title {
            font-size: 32px;
        }

        &__subtitle {
            font-size: 18px;
        }

        &__video {

            &:after {
                width: 50px;
                height: 50px;
            }
        }
    }

    .product {
        padding: 120px 0px;

        &__title {
            font-size: 32px;
        }

        &__image {
            margin: 0px 0px 200px 3%;
        }
    }

    .footer {
        padding: 120px 0px;

        &__link {
            margin-bottom: 40px;
        }
    }
}